<div class="w-100 fs-5 fw-bold pb-4 mb-4 border-bottom">เเบบฟอร์ม</div>
<div class="row col-auto g-2 pb-4 mb-2 border-bottom" [formGroup]="form">
    <div class="col-12 col-sm-4">
        <label class="form-label fs-6">ชื่อ - นามสกุล</label>
        <input type="text" class="form-control fs-6" formControlName="fullName" placeholder="กรุณากรอกชื่อ-นามสกุล">
        <div class="bg-danger text-white fs-7 py-1 w-100 mt-2 px-2" *ngIf="form.get('fullName')?.touched && form.get('fullName')?.invalid">
            กรุณากรอกชื่อ-นามสกุล
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <label class="form-label fs-6">เบอร์โทร</label>
        <input type="text" class="form-control fs-6" formControlName="tel" placeholder="กรุณากรอกเบอร์โทร">
        <div class="bg-danger text-white fs-7 py-1 w-100 mt-2 px-2" *ngIf="form.get('tel')?.touched && form.get('tel')?.invalid">
            กรุณากรอกเบอร์โทร เช่น 000-000-0000 
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <label class="form-label fs-6">ตำเเหน่ง</label>
        <select class="form-select fs-6" formControlName="position">
            <option [value]="''" disabled>กรุณากรอกตำเเหน่ง</option>
            <option *ngFor="let item of positions" [value]="item.code">{{ item.name }}</option>
          </select>
        <div class="bg-danger text-white fs-7 py-1 w-100 mt-2 px-2" *ngIf="form.get('position')?.touched && form.get('position')?.invalid">
            กรุณากรอกตำเเหน่ง
        </div>
    </div>
</div>
<div class="row col-auto justify-content-center pt-2">
    <button 
        [disabled]="form.invalid"
        (click)="callback()"
        class="col-auto btn btn-primary me-2 fs-7">
        บันทึก
    </button>
    <button class="col-auto btn btn-danger fs-7" (click)="dialogRef.close()">
        ปิด
    </button>
</div>