<div class="text-center fs-5 fs-sm-3 fw-bold pt-4 pb-3 mb-2">คุณต้องการลบพนักงานคนนี้ออกจากระบบหรือไม่ ?</div>
<div class="row col-auto justify-content-center pt-2">
    <button 
        (click)="dialogRef.close(true)"
        class="col-auto btn btn-danger me-2 fs-7">
        ใช่
    </button>
    <button class="col-auto btn btn-success fs-7" (click)="dialogRef.close()">
        ไม่
    </button>
</div>