<div class="mb-4 w-100">
    <div class="fs-6 fw-bold mb-2 text-break">2. จงเขียน web ด้วย frontend framework (Angular, React.js) มีหน้าจอดังนี้
    </div>
    <div class="w-100 d-flex flex-wrap justify-content-between mb-2">
        <div class="fs-7 fw-bold col-auto px-0 d-flex align-items-end">
            <span>รายชื่อพนักงาน</span>
        </div>
        <div class="col-auto px-0">
            <button class="btn btn-success fs-7" (click)="clrarForm();openForm()">เพิ่ม</button>
        </div>
    </div>
    <div class="w-100 table-responsive">
        <table class="border w-100" [ngStyle]="{'min-width': '1250px'}">
            <thead class="bg-light border-bottom">
                <th class="col-auto col-sm-3 fs-7 p-2 border-end">รหัสพนักงาน</th>
                <th class="col-auto col-sm-3 fs-7 p-2 border-end">ชื่อ-นามสกุล</th>
                <th class="col-auto fs-7 p-2 border-end">เบอร์โทร</th>
                <th class="col-auto fs-7 p-2 border-end">ตำเเหน่ง</th>
                <th class="col-auto fs-7 p-2"></th>
            </thead>
            <tbody >
                <tr class="border-bottom" *ngFor="let item of staffs">
                    <td class="col-auto col-sm-3 fs-7 p-2 border-end">{{ item.id }}</td>
                    <td class="col-auto col-sm-3 fs-7 p-2 border-end">{{ item.fullName }}</td>
                    <td class="col-auto fs-7 p-2 border-end">{{ item.tel }}</td>
                    <td class="col-auto fs-7 p-2 border-end">{{ positions[item.position] }}</td>
                    <td class="col-auto fs-7 p-2">
                        <div class="row col-auto justify-content-center">
                            <button class="btn btn-warning text-white col-auto fs-7 me-2" (click)="update(item)">เเก้ไข</button>
                            <button class="btn btn-danger text-white col-auto fs-7" (click)="remove(item.id)">ลบ</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>