@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $secondary;
}

.fs-7 {
    font-size: 0.85rem;
}

.fs-8 {
    font-size: 0.6rem;
}

.fs-9 {
    font-size: 0.35rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
