<div class="mb-4 pb-4 border-bottom w-100">
    <div class="fs-6 fw-bold mb-2 text-break">1. จงเขียน code โดยใช้ For loop หรือ While loop เพื่อ
        ให้เเสดงผลตามรูปเเบบด้านล่างให้เป็นรูปต้นสน</div>
    <div *ngFor="let row of [].constructor(9); index as i" class="row justify-content-center gx-2">
        <div class="col-auto" *ngFor="let col of [].constructor(i+1);index as idx">
            {{i+1}}
        </div>
    </div>
</div>